* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0e0e;
  font-family: 'Courier New', Courier, monospace;
  padding-block: 1rem;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

canvas#screen {
  background-color: #1b1b1b;
  border: 2px #2b2b2b solid;
  /* max-width: 70%;
  max-height: 70%; */
  border-radius: .5rem;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control-btn {
  border: none;
  outline: none;
  background-color: #ff7676;
  border-radius: .5rem;
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  transition: .4s all;
  cursor: pointer;
}

.control-btn:hover {
  background-color: #ff6060;
}

.control-btn img {
  height: 100%;
  aspect-ratio: 1;
}

button#play.playing {
  background-color: #08799e;
}

button#play.playing:hover {
  background-color: #066585;
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-left: 0;
    font-size: 2rem;
  }

  .control-panel {
    flex-direction: row;
    justify-content: center;
  }
}